* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }

  @font-face {
    font-family: "Cloud";
    src: url("Alphasmoke-OOX6.ttf") format("opentype");
  }
  
  .navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  #navbar__logo {
    font-family: "Cloud";
    background-color: #f2f1e6;
    font-weight: bold;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
  }
  
  .spotify {
    margin-right: 0.5rem;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    font-weight: bold;
    color: #f2f1e6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
  }
  
  .button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #1DB954;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45 deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45 deg);
    }
  }
  
  /* Main Content CSS */
  .main {
    background-color: #141414;
  }
  
  .main__container {
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .main__content {
    color: #fff;
    width: 100%;
  }
  
  .main__content h1 {
    text-align: center;
    font-size: 4rem;
    background: #f2f1e6;
    font-family: "Cloud";
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
     
  /* Mobile Responsive */
  @media screen and (max-width: 768px) {
    .main__container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
    }
  
    .main__content {
      text-align: center;
      margin-bottom: 0rem;
    }
  
    .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main__content h2 {
      font-size: 3rem;
    }
  
    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {

    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
      }

    .main__content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
  
    .main__content h2 {
      font-size: 2rem;
    }
  
    .main__content p {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 388px) {

    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 120vh;
      }

    .main__content h1 {
      font-size:   2rem;
      margin-top: 3rem;
    }
    
    .main__content p {
      margin-top: 2rem;
      font-size: 1rem;
    }
  }
  
  /* Services Section */
  .services {
    background: #131313;
  }
  
  /* Footer CSS */
  .footer__container {
    background-color: #141414;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin: 16px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .footer__link--items h2 {
    margin-bottom: 16px;
  }
  
  .footer__link--items > h2 {
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .footer__link--items a:hover {
    color: #1DB954;
    transition: all 0.3s ease;
  }
    
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 1rem;
    }
    
    .footer__link--wrapper {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 55px;
      width: 100%;
    }
  }