<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cloudify</title>
  <link rel="shortcut icon" href="static\img\cloudy.png">
  <link rel="stylesheet" href="static\css\styleIndex.css" />
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <meta name="monetag" content="238a42ede13519aa1f5d9eda62ac0605">
</head>

<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="navbar__container">
      <a href="/" id="navbar__logo"><i class="fas spotify"></i>Cloudify</a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span> <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="/" class="navbar__links">Home</a>
        </li>
        <li class="navbar__item">
          <a href="/about" class="navbar__links">About</a>
        </li>
        <li class="navbar__item">
          <a href="/contact" class="navbar__links">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Hero Section -->
  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>Create Your</h1>
        <h2>Word Cloud</h2>
        <p>See your top 50 artists!</p>
        <button class="main__btn"><a href="/login">Get Started</a></button>
      </div>
      <div class="main__img--container">
        <img id="main__img" src="static\img\spotify.png" />
      </div>
    </div>
  </div>

  <!-- Services Section -->
  <div class="services">
  </div>

  <!-- Footer Section -->
  <div class="footer__container">
    <div class="footer__links">
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>Made by Brian Lau</h2>
          <a href="https://www.instagram.com/blauu__/">Instagram</a>
          <a href="https://github.com/beelauuu">Github</a>
          <a href="https://www.strava.com/athletes/41098360">Strava</a>
          <a href="https://open.spotify.com/user/brian-lau">
            <center><img src="static/img/spotifylogo.png" width="164" height="44"></center>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="static\js\app.js"></script>
</body>

</html>