<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cloudify</title>
  <link rel="shortcut icon" href="static\img\cloudy.png">
  <link rel="stylesheet" href="static\css\styleFinal.css" />
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <meta name="monetag" content="238a42ede13519aa1f5d9eda62ac0605">
</head>

<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="navbar__container">
      <a href="/" id="navbar__logo"><i class="fas spotify"></i>Cloudify</a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span> <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="/" class="navbar__links">Home</a>
        </li>
        <li class="navbar__item">
          <a href="/about" class="navbar__links">About</a>
        </li>
        <li class="navbar__item">
          <a href="/contact" class="navbar__links">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main">
    <div class="main__content">
      <h1>Your Wordcloud</h1>
     <img id="wordcloud-img" src="{{ wordcloud_name }}" alt="Word Cloud Image">
     <button onclick="downloadImage('{{ wordcloud_name }}')" class="download-button">Download Your Wordcloud!</button>
      <p>Generate another one by going back a page!</p>
      <center><img src="static/img/spotifylogo.png" width="164" height="44"></center>
    </div>
  </div>
  <script src="static\js\app.js"></script>

</html>
